
<footer class="footer">
    <div class="footer-left-side">
        <p>Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk.</p>
        <p> 2023 <a href="">Published by studio Milk</a></p>
        <a href="">Privacy Policy</a>
    </div>
    <div class="footer-right-side">
        <a href="" routerLink="/issue#6">Issue #6</a>
        <a href="" routerLink="/issue#5">Issue #5</a>
        <a href="" routerLink="/issue#4">Issue #4</a>
        <a href="" routerLink="/issue#3">Issue #3</a>
        <a href="" routerLink="/issue#2">Issue #2</a>
        <a href="" routerLink="/issue#1">Issue #1</a>
    </div>
</footer>
