<app-header></app-header>
<div class="content" [@routerAnimation]="getRouteAnimation(router)">
    <router-outlet #router="outlet"></router-outlet>
  </div>
<app-footer text="ale"></app-footer>





<!-- <Ttile text="Making recprd"></Ttile>
<hijo title="design and .." body ="blblaba" link="eso"></hijo>
<hijo title="design and .." body ="blblaba" link="eso"></hijo>
<hijo title="design and .." body ="blblaba" link="eso"></hijo>
<hijo title="design and .." body ="blblaba" link="eso"></hijo>
<hijo title="design and .." body ="blblaba" link="eso"></hijo>
<hijo title="design and .." body ="blblaba" link="eso"></hijo> -->